# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()
def run_sql(sql):
    df = pd.DataFrame(cur.execute(sql).fetchall())
    df.columns = [i[0] for i in cur.description]
    return df

In [3]:
# run_sql('''SELECT * FROM employees''')

## Display the names of all the employees in Boston.

In [4]:
run_sql('''SELECT * FROM employees WHERE officeCode = '2';''')

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep
1,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep

## Do any offices have no employees?

In [6]:
run_sql('''SELECT * FROM employees
                    JOIN offices
                    USING (officeCode)
                    GROUP BY officeCode
                    ORDER BY officeCode''')

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle,city,phone,addressLine1,addressLine2,state,country,postalCode,territory
0,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA
1,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA
2,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143,Sales Rep,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA
3,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102,Sales Rep,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,,,France,75017,EMEA
4,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621,Sales Rep,Tokyo,+81 33 224 5000,4-1 Kioicho,,Chiyoda-Ku,Japan,102-8578,Japan
5,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088,Sales Rep,Sydney,+61 2 9264 2451,5-11 Wentworth Avenue,Floor #2,,Australia,NSW 2010,APAC
6,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA

## Write 3 Questions of your own and answer them

In [7]:
# Answers will vary

In [8]:
# Your code here

In [9]:
# Your code here

In [10]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [13]:
run_sql('''SELECT e.firstName as Emp_Fname, e.lastName as Emp_Lname, 
                    c.customerName, c.customerNumber,
                    o.orderNumber, d.quantityOrdered
                    FROM employees e
                      JOIN customers c
                      ON e.employeeNumber = c.salesRepEmployeeNumber
                      JOIN orders o
                      ON c.customerNumber = o.customerNumber
                      JOIN orderdetails d
                      ON o.orderNumber = d.orderNumber
                      JOIN products p
                      ON d.productCode = p.productCode;''')

,Emp_Fname,Emp_Lname,customerName,customerNumber,orderNumber,quantityOrdered
0,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10113,21
1,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10113,49
2,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10113,50
3,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10113,23
4,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10135,42
5,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10135,48
6,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10135,24
7,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10135,29
8,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10135,48
9,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10135,45
10,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10135,42
11,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10135,45
12,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10135,31
13,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10135,29
14,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10135,20
15,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10135,27
16,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10135,47
17,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10135,23
18,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10135,33
19,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10135,30
20,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10135,44
21,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10142,33
22,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10142,33
23,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10142,46
24,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10142,47
25,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10142,22
26,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10142,24
27,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10142,24
28,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10142,33
29,Leslie,Jennings,Mini Gifts Distributors Ltd.,124,10142,49
...,...,...,...,...,...,...
2966,Martin,Gerard,"Corrida Auto Replicas, Ltd",458,10214,30
2967,Martin,Gerard,"Corrida Auto Replicas, Ltd",458,10214,21
2968,Martin,Gerard,"Corrida Auto Replicas, Ltd",458,10214,27
2969,Martin,Gerard,"Corrida Auto Replicas, Ltd",458,10214,50
2970,Martin,Gerard,"Corrida Auto Replicas, Ltd",458,10214,20
2971,Martin,Gerard,"Corrida Auto Replicas, Ltd",458,10214,49
2972,Martin,Gerard,"Corrida Auto Replicas, Ltd",458,10214,44
2973,Martin,Gerard,"Corrida Auto Replicas, Ltd",458,10348,48
2974,Martin,Gerard,"Corrida Auto Replicas, Ltd",458,10348,47
2975,Martin,Gerard,"Corrida Auto Replicas, Ltd",458,10348,29
2976,Martin,Gerard,"Corrida Auto Replicas, Ltd",458,10348,37
2977,Martin,Gerard,"Corrida Auto Replicas, Ltd",458,10348,39
2978,Martin,Gerard,"Corrida Auto Replicas, Ltd",458,10348,42
2979,Martin,Gerard,"Corrida Auto Replicas, Ltd",458,10348,31
2980,Martin,Gerard,"Corrida Auto Replicas, Ltd",458,10348,32
2981,Martin,Gerard,"Iberia Gift Imports, Corp.",484,10184,37
2982,Martin,Gerard,"Iberia Gift Imports, Corp.",484,10184,46
2983,Martin,Gerard,"Iberia Gift Imports, Corp.",484,10184,46
2984,Martin,Gerard,"Iberia Gift Imports, Corp.",484,10184,44
2985,Martin,Gerard,"Iberia Gift Imports, Corp.",484,10184,28
2986,Martin,Gerard,"Iberia Gift Imports, Corp.",484,10184,31
2987,Martin,Gerard,"Iberia Gift Imports, Corp.",484,10184,24
2988,Martin,Gerard,"Iberia Gift Imports, Corp.",484,10184,42
2989,Martin,Gerard,"Iberia Gift Imports, Corp.",484,10184,49
2990,Martin,Gerard,"Iberia Gift Imports, Corp.",484,10184,46
2991,Martin,Gerard,"Iberia Gift Imports, Corp.",484,10184,33
2992,Martin,Gerard,"Iberia Gift Imports, Corp.",484,10184,48
2993,Martin,Gerard,"Iberia Gift Imports, Corp.",484,10184,45
2994,Martin,Gerard,"Iberia Gift Imports, Corp.",484,10303,46
2995,Martin,Gerard,"Iberia Gift Imports, Corp.",484,10303,24

## Level Up: Display the Number of Products each Employee Has sold

In [64]:
run_sql('''SELECT e.employeeNumber, e.firstName as Emp_Fname, e.lastName as Emp_Lname, 
                    d.productCode, o.orderNumber, d.quantityOrdered
                    FROM employees e
                      JOIN customers c
                      ON e.employeeNumber = c.salesRepEmployeeNumber
                      JOIN orders o
                      ON c.customerNumber = o.customerNumber
                      JOIN orderdetails d
                      ON o.orderNumber = d.orderNumber
                      JOIN products p
                      ON d.productCode = p.productCode;''')

,employeeNumber,Emp_Fname,Emp_Lname,productCode,orderNumber,quantityOrdered
0,1165,Leslie,Jennings,S12_1666,10113,21
1,1165,Leslie,Jennings,S18_1097,10113,49
2,1165,Leslie,Jennings,S18_4668,10113,50
3,1165,Leslie,Jennings,S32_3522,10113,23
4,1165,Leslie,Jennings,S12_1099,10135,42
5,1165,Leslie,Jennings,S12_3380,10135,48
6,1165,Leslie,Jennings,S12_3990,10135,24
7,1165,Leslie,Jennings,S12_4675,10135,29
8,1165,Leslie,Jennings,S18_1889,10135,48
9,1165,Leslie,Jennings,S18_3278,10135,45
10,1165,Leslie,Jennings,S18_3482,10135,42
11,1165,Leslie,Jennings,S18_3782,10135,45
12,1165,Leslie,Jennings,S18_4721,10135,31
13,1165,Leslie,Jennings,S24_2360,10135,29
14,1165,Leslie,Jennings,S24_2972,10135,20
15,1165,Leslie,Jennings,S24_3371,10135,27
16,1165,Leslie,Jennings,S24_3856,10135,47
17,1165,Leslie,Jennings,S24_4620,10135,23
18,1165,Leslie,Jennings,S32_2206,10135,33
19,1165,Leslie,Jennings,S32_4485,10135,30
20,1165,Leslie,Jennings,S50_4713,10135,44
21,1165,Leslie,Jennings,S12_1108,10142,33
22,1165,Leslie,Jennings,S12_3148,10142,33
23,1165,Leslie,Jennings,S12_3891,10142,46
24,1165,Leslie,Jennings,S18_3140,10142,47
25,1165,Leslie,Jennings,S18_3259,10142,22
26,1165,Leslie,Jennings,S18_4027,10142,24
27,1165,Leslie,Jennings,S18_4522,10142,24
28,1165,Leslie,Jennings,S24_2011,10142,33
29,1165,Leslie,Jennings,S24_3151,10142,49
...,...,...,...,...,...,...
2966,1702,Martin,Gerard,S18_1749,10214,30
2967,1702,Martin,Gerard,S18_2248,10214,21
2968,1702,Martin,Gerard,S18_2325,10214,27
2969,1702,Martin,Gerard,S18_2795,10214,50
2970,1702,Martin,Gerard,S24_1937,10214,20
2971,1702,Martin,Gerard,S24_2022,10214,49
2972,1702,Martin,Gerard,S24_3969,10214,44
2973,1702,Martin,Gerard,S12_1108,10348,48
2974,1702,Martin,Gerard,S12_3148,10348,47
2975,1702,Martin,Gerard,S18_4668,10348,29
2976,1702,Martin,Gerard,S24_2300,10348,37
2977,1702,Martin,Gerard,S24_4258,10348,39
2978,1702,Martin,Gerard,S32_1268,10348,42
2979,1702,Martin,Gerard,S32_3522,10348,31
2980,1702,Martin,Gerard,S700_2824,10348,32
2981,1702,Martin,Gerard,S12_4473,10184,37
2982,1702,Martin,Gerard,S18_2238,10184,46
2983,1702,Martin,Gerard,S18_2319,10184,46
2984,1702,Martin,Gerard,S18_2432,10184,44
2985,1702,Martin,Gerard,S18_3232,10184,28
2986,1702,Martin,Gerard,S24_1444,10184,31
2987,1702,Martin,Gerard,S24_2300,10184,24
2988,1702,Martin,Gerard,S24_2840,10184,42
2989,1702,Martin,Gerard,S24_4048,10184,49
2990,1702,Martin,Gerard,S32_1268,10184,46
2991,1702,Martin,Gerard,S32_2509,10184,33
2992,1702,Martin,Gerard,S32_3207,10184,48
2993,1702,Martin,Gerard,S50_1392,10184,45
2994,1702,Martin,Gerard,S18_2248,10303,46
2995,1702,Martin,Gerard,S24_3969,10303,24

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!